* {
  box-sizing: border-box;
}

.container {
  padding: 50px;
}

h1 { font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 36px;
}

h2 { font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    }

.form-group { font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: rgba(205, 223, 205, 0.3);
}

.card {
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.img-fluid {
  filter: drop-shadow(20px 20px 6px #575758);
  border: solid 8px white;
}